# CS 5710 - ML Assignment - 1
# Sowjanya Sunkavalli - 700731896

## Question1

### * Sort the list and find the min and max age

In [167]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] # Given List
ages.sort() # sort() is used to sort the given list
print('Sorted List is :', ages)
mn = min(ages) # min() will return min value from the list
print('Minimum age is : ', mn)
mx = max(ages) # max() will return max value from the list
print('Maximum age is : ', mx)

Sorted List is : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age is :  19
Maximum age is :  26

### * Add the min age and the max age again to the list

In [168]:
ages.extend([mn,mx]) # extend() is used to add the elements to the list
print('Extended list of ages is : ', ages)

Extended list of ages is :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

### * Find the median age (one middle item or two middle items divided by two)

In [169]:
ages.sort() # sort the extended list again using sort()
if len(ages) % 2 ==1:
    median =  ages[len(ages)//2]
else:
    median =(ages[len(ages)//2-1]+ages[len(ages)//2])/2
print('Median age of given list is : ', median)

Median age of given list is :  24.0

### * Find the average age (sum of all items divided by their number)

In [114]:
# Find the average age (sum of all items divided by their number)
#avg = mean(ages) # mean() is used to get the average of the given list
avg = sum(ages)/len(ages)
print('Average age of given list is : ', avg)

Average age of given list is :  22.75

### * Find the range of the ages (max minus min)

In [116]:
# Find the range of the ages (max minus min)
r = max(ages)-min(ages) # max - min gives the range of ages here
print('Range of given age list is : ',r)

Range of given age list is :  7

## Question-2

### * Create an empty dictionary called dog

In [48]:
dog = dict() # dict() is used to create the new dictionary

### * Add name, color, breed, legs, age to the dog dictionary

In [49]:
# adding key value pairs # dict= {key:value}
dog = {'name' : 'Tommy', 'color': 'brown', 'breed':'pug','legs':4,'age':'6 months'} 
dog

{'name': 'Tommy',
 'color': 'brown',
 'breed': 'pug',
 'legs': 4,
 'age': '6 months'}

### * Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, 
### city and address as keys for the dictionary

In [10]:
student = dict()
student = {'first_name':'Sowjanya','last_name':'Sunkavalli','gender':'Female','age':'26','marital status':'Single'
,'skills': ['Java','Python','AWS','Selenium'],'country':'USA','city':'Warrensburg','address':'S Main St, Warrensburg'}
student

{'first_name': 'Sowjanya',
 'last_name': 'Sunkavalli',
 'gender': 'Female',
 'age': '26',
 'marital status': 'Single',
 'skills': ['Java', 'Python', 'AWS', 'Selenium'],
 'country': 'USA',
 'city': 'Warrensburg',
 'address': 'S Main St, Warrensburg'}

### * Get the length of the student dictionary

In [117]:
# len(dictionaryname) gives us the total length of the dictionary
print('Length of student dictionary is : ', len(student))

Length of student dictionary is :  9

### * Get the value of skills and check the data type, it should be a list

In [153]:
#Get the value of skills and check the data type, it should be a list
print('Values of Skills key are : ', student['skills'])
print('DataType of Skills values is :', type(student['skills']).__name__)

Values of Skills key are :  ['Java', 'Python', 'AWS', 'Selenium', 'Jenkins']
DataType of Skills values is : list

### * Modify the skills values by adding one or two skills

In [102]:
student['skills'].append('Jenkins') # append() is used to add new values 
student

{'first_name': 'Sowjanya',
 'last_name': 'Sunkavalli',
 'gender': 'Female',
 'age': '26',
 'marital status': 'Single',
 'skills': ['Java', 'Python', 'AWS', 'Selenium', 'Jenkins'],
 'country': 'USA',
 'city': 'Warrensburg',
 'address': 'S Main St, Warrensburg'}

### * Get the dictionary keys as a list

In [104]:
#dict.keys() gives the list of keys 
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

### * Get the dictionary values as a list

In [62]:
# dict.values() gives the list of values
student.values()

dict_values(['Sowjanya', 'Sunkavalli', 'Female', '26', 'Single', ['Java', 'Python', 'AWS', 'Selenium', 'Test', 'Jenkins'], 'USA', 'Warrensburg', 'S Main St, Warrensburg'])

## Question-3

### * Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [120]:
# Creating tuple, tuple = ()
brothers = ('Mahi','Jagu','Karthi','Abhi') # brothers tuple
print('Brothers tuple is : ', brothers)

Brothers tuple is :  ('Mahi', 'Jagu', 'Karthi', 'Abhi')

In [121]:
sisters = ('Kaveri','Bharu','Lakshmi','Raji') # sisters tuple
print('Sisters tuple is : ', sisters)

Sisters tuple is :  ('Kaveri', 'Bharu', 'Lakshmi', 'Raji')

### * Join brothers and sisters tuples and assign it to siblings

In [154]:
# Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters  # we can add two tuples as tuple1+tuple2
print('Siblings tuple is : ', siblings)

Siblings tuple is :  ('Mahi', 'Jagu', 'Karthi', 'Abhi', 'Kaveri', 'Bharu', 'Lakshmi', 'Raji')

### * How many siblings do you have?

In [123]:
print('Length of siblings tuple is : ',len(siblings)) # len(tuple) - length of the tuple

Length of siblings tuple is :  8

### * Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [124]:
family_members = siblings + ('Lakhmi','Anjaneyelu') # modifying tuple by adding values using + operator
print('Family members tuple is : ',family_members )

Family members tuple is :  ('Mahi', 'Jagu', 'Karthi', 'Abhi', 'Kaveri', 'Bharu', 'Lakshmi', 'Raji', 'Lakhmi', 'Anjaneyelu')

## Question-4

### * Find the length of the set it_companies

In [3]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [147]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies

{'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle'}

In [148]:
# Find the length of the set it_companies
print('Length of set it_companies is : ',len(it_companies)) # len(set) - length of the set

Length of set it_companies is :  7

### * Add 'Twitter' to it_companies

In [149]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter') # add(value) - used to add value to the existing set.
print('New Set after adding Twitter is : ',it_companies )

New Set after adding Twitter is :  {'Google', 'Amazon', 'Apple', 'IBM', 'Microsoft', 'Twitter', 'Facebook', 'Oracle'}

### * Insert multiple IT companies at once to the set it_companies

In [150]:
# Insert multiple IT companies at once to the set it_companies
new_companies = ['Tesla','Intel','VMWare']
it_companies.update(new_companies) # update() is ised to insert new values in the set
print('New Set after adding : ',it_companies )

New Set after adding :  {'IBM', 'Apple', 'Tesla', 'Google', 'Oracle', 'VMWare', 'Amazon', 'Intel', 'Facebook', 'Microsoft', 'Twitter'}

### * Remove one of the companies from the set it_companies

In [151]:
it_companies.remove('Facebook') # remove(value) - will remove the specified value from the set
it_companies

{'Amazon',
 'Apple',
 'Google',
 'IBM',
 'Intel',
 'Microsoft',
 'Oracle',
 'Tesla',
 'Twitter',
 'VMWare'}

### * What is the difference between remove and discard

In [25]:
##The discard() method and remove() method removes the specified item from the set.
## This discard() method is different from the remove() method, because the remove() method
##  will raise an error if the specified item does not exist in set, and the discard() method will not raise 
## an error if the element is not present in set.

### * Join A and B

In [156]:
print('A union B is : ', A.union(B)) # union() is used to find the union of 2 sets.

A union B is :  {19, 20, 22, 24, 25, 26, 27, 28}

### * Find A intersection B

In [157]:
print('A intersection B is :',A.intersection(B)) # intersectio() is used to find the intersection of 2 sets.

A intersection B is : {19, 20, 22, 24, 25, 26}

### * Is A subset of B

In [158]:
# issibset() is used to identify if two sets one set is subset of other set
print('Is A subset of B :',A.issubset(B))

Is A subset of B : True

### * Are A and B disjoint sets

In [159]:
# isdisjoint() is used to know if two sets are disjoint or not - it returns boolean value
print('Is A disjoint of B :',A.isdisjoint(B))

Is A disjoint of B : False

### * Join A with B and B with A

In [160]:
print('Joining A with B :', A.union(B)) # joining A with B

Joining A with B : {19, 20, 22, 24, 25, 26, 27, 28}

In [161]:
print('Joining B with A :', B.union(A)) # Joining B with A

Joining B with A : {19, 20, 22, 24, 25, 26, 27, 28}

### * What is the symmetric difference between A and B

In [162]:
# symmetric_difference() is used to find the symmetric diff between 2 sets
print(' Symmetric difference between A and B is :',A.symmetric_difference(B))

 Symmetric difference between A and B is : {27, 28}

### * Delete the sets completely

In [ ]:
del(A) # del(set) - permanently delete the set
del(B)

### * Convert the ages to a set and compare the length of the list and the set.

In [4]:
print('Converting Ages to a Set :', set(age)) # set(list)- used to convert list to set

Converting Ages to a Set : {19, 22, 24, 25, 26}

In [5]:
print('Length of age list :', len(age)) # len(list) - used to find the length of list

Length of age list : 8

In [6]:
print('Lenght of Age Set :', len(set(age))) # len(set) - used to find the length of set

Lenght of Age Set : 5

In [36]:
# len(age) > len(set(age)) # Length of list is greater than length of set

## Question-5

### * Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

In [80]:
# The radius of a circle is 30 meters.
# Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
r = 30
area = 3.14* r * r # area of circle
_area_of_the_circle_ = area   # assigning area value to _area_of_the_circle_
print (" The area of the given circle in meters is: ", _area_of_the_circle_)

 The area of the given circle in meters is:  2826.0

### * Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_

In [81]:
# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
circumferance = 2*3.14*r # circumferance of circle
_circum_of_circle_ = circumferance # assigning circumferance value to _circum_of_circle_
print (" The Circumferance of the given circle in meters is: ", _circum_of_circle_)

 The Circumferance of the given circle in meters is:  188.4

### * Take radius as user input and calculate the area.

In [87]:
# Take radius as user input and calculate the area.
r = input("Enter radius of circle in Meters:") # input() - used to get the user input
area = (3.14)* float(r) * float(r)
print ("The area of the given circle in meters is: ",area)

Enter radius of circle in Meters:30
 The area of the given circle in meters is:  2826.0

## Question-6

### * How many unique words have been used in the sentence? Use the split methods and set to get the
### unique words.

In [40]:
x = 'I am a teacher and I love to inspire and teach people'
x

'I am a teacher and I love to inspire and teach people'

In [41]:
words = x.split() # split() is used to split the string into list of individual words
words

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'inspire',
 'and',
 'teach',
 'people']

In [42]:
# Find the unique words --- this wrong -- should try properly with set
unique_words = set(words) # set(list) - converting list to set
unique_words

{'I', 'a', 'am', 'and', 'inspire', 'love', 'people', 'teach', 'teacher', 'to'}

In [43]:
len(unique_words) #len() is used to find the unique words

10

## Question-7

### * Use a tab escape sequence to get the following lines.

In [44]:
# Name Age Country City
# Asabeneh 250 Finland Helsinki

In [155]:
#\t is used for tab and \n is used for next line
print('Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinland\t\tHelsinki')

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

## Question-8

### * Use the string formatting method to display the following:

In [46]:
#format() is used to pass the diff strings in the sequentail order
radius = 10
area = 3.14 * radius ** 2
text = "The area of a circle with radius is {} and area is {} meters square.".format(radius,area)
text

'The area of a circle with radius is 10 and area is 314.0 meters square.'

## Question-9

### * Write a program, which reads weights (lbs.) of N students into a list and convert these weights to  
### kilograms in a separate list using Loop. N: No of students (Read input from user)

In [170]:
N = int(input('Enter No. of students : '))
weights_kgs = [] # new list for weight in kgs
weights_lbs = [] # new list for weight in lbs

for i in range(N):
    weights_lbs.append(int(input('Enter student{} weight in lbs: '.format(i+1)))) # append() to add all the weight values
print('Weights in Lbs is :', weights_lbs)

for i in weights_lbs:
    x = i*0.453592  #1 lb = 0.453592 Kg
    weights_kgs.append(float("%.3f" %x)) #%.3f floating point for 3 decimal values
print('Weights in Kgs is :', weights_kgs)

Enter No. of students : 4
Enter student1 weight in lbs: 2
Enter student2 weight in lbs: 12
Enter student3 weight in lbs: 21
Enter student4 weight in lbs: 5
Weights in Lbs is : [2, 12, 21, 5]
Weights in Kgs is : [0.907, 5.443, 9.525, 2.268]